<!DOCTYPE html>
<html>
  <head>
    <title>SchoolTweets</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_API_KEY %>&sensor=false">
    </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
